<%= simple_form_for @collateral do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	
<div class="form-inputs">
	<%= f.input :name, required: true %>
	<%= f.input :url %>
	<%= f.label :kind %>
 	<%= f.collection_select(:collateral_kind_id, CollateralKind.all, :id, :kind,										{include_blank: "Select type",
							label: false,
							input_html: {class: "form-control"}}) %>
	<%= f.simple_fields_for :collateral_tags do |collateral_tag| %>
	   <%= render 'collateral_tag_fields', f: collateral_tag %>
	<% end %>
	
	<div class="links">
		<%= link_to_add_association 'Add tag', f, :collateral_tags %>
	</div>
</div>
	<%= f.button :submit %>
<% end %>

