
<div class="">
	<h2>Name: <%= @collateral.name %></h2>
	<hr>
	<p>url: <%= @collateral.url %></p>
	<p>Type: <%= @collateral.collateral_kind.kind %></p>
	<hr>
	<h2>Tags: </h2>
	<% @collateral.tags.each do |tag| %>
        <%= tag.name %>
        <%= tag.tag_kind.kind %>
        <hr>
    <% end %>
<br>



	<%= link_to 'Edit', edit_collateral_path(@collateral) %> |
	<%= link_to 'Back', root_path %>
	<!-- link_to 'Back', collaterals_path  -->
</div>
