
<div class="">
	<h2>Title: <%= @collateral.name %></h2>
	<hr>
	<p>url: <%= @collateral.url %></p>
	<p>Type: <%= @collateral.kind %></p>
	<hr>
	<h2>Tags: </h2>
	<p>tag type: tag name:</p>
	<% @collateral.tags.each do |t| %>
	<p><%= t.name %> <%= t.kind %> </p>	
	<% end %>


	<%= link_to 'Edit', edit_collateral_path(@collateral) %> |
	<%= link_to 'Back', root_path %>
	<!-- link_to 'Back', collaterals_path  -->
</div>
