<button class="create-new">
  <%= link_to 'New Collateral Kind', new_collateral_kind_path %>
</button>

<%= paginate @collateral_kinds ,outer_window: 3 %>

<div>
    <h1>Available Collateral Kinds:</h1>
    <table>
      <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      <% @collateral_kinds.each do |collateral_kind| %>
        <tr>
          <td>
            <strong><%= collateral_kind.kind %></strong>
          </td>
          <td>
            <%= link_to 'Show', collateral_kind %>
          </td>
          <td>
            <%= link_to 'Edit', edit_collateral_kind_path(collateral_kind) %>
          </td>
          <td>
            <%= link_to 'Remove', collateral_kind, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
</div>

<button class="navigate-back">
  <%= link_to 'â† Back', configuration_path %>
</button>
