<%= paginate @tags ,outer_window: 3 %>

 <div class="collaterals-search__all-results">
    <h1 class="collaterals-search__header">Results:</h1>
    <% @tags.each do |tag| %>
      <div class="collaterals-search__single" >
          <h1 class="collaterals-search__name"><%= tag.name %></h1>
          <h3 class="collaterals-search__kind"><%= tag.tag_kind.kind %></h3>
           <div class="collaterals-search__tags">
            <span class="collaterals-search__tag"><%= link_to 'Show', tag %></span>
            <span class="collaterals-search__tag"><%= link_to 'Edit', edit_tag_path(tag) %></span>
            <span class="collaterals-search__tag"><%= link_to 'Remove', tag, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
      </div>
    <% end %>
  </div>

<%= link_to "New Tag", new_tag_path %>
<%= link_to 'Back', configuration_path %>
