<button class="create-new">
  <%= link_to "New Tag", new_tag_path %>
</button>

<%= paginate @tags ,outer_window: 3 %>

 <div>
    <h1>Available Tags:</h1>
    <table>
      <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      <% @tags.each do |tag| %>
        <tr>
          <td>
            <strong><%= tag.name %></strong>
          </td>
          <td><%= tag.tag_kind.kind %></td>
          <td>
            <%= link_to 'Show', tag %>
          </td>
          <td>
            <%= link_to 'Edit', edit_tag_path(tag) %>
          </td>
          <td>
            <%= link_to 'Remove', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
</div>

<button class="navigate-back">
  <%= link_to 'â† Back', configuration_path %>
</button>

